@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

body { margin: 0; }

#app {
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
}